body {
  padding: 20px 0;
}

.container {
  position: relative;
  width: 600px;
  height: 450px;
  margin: 0 auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  overflow: hidden;
}

.canvas {
  position: absolute;
  top: 0;
}

.form {
  padding: 20px;
}
